.title-container {
    justify-content: center;
    text-align: center;
}

.title {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 3em;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.join {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    background: transparent;
    border: none;
    font-size: 1.5em;
    text-align: 3em;
    background-color: rgb(33, 33, 33);
    border-radius: 20px;
}