.card {
    margin-top: 5em;
    margin: 20px;
    padding: 20px;
    border: rgb(255, 255, 255) 5px solid;
    border-radius: 20px;
    border-style: groove;
    color: white;
    text-decoration: none;
    background-color: rgb(35, 35, 35);
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card .poke-img {
    object-fit: fixed;
    width: 100%;
    height: 100%;
}

.type-icon {
    width: 2em;
    height: 2em;
}

.card header h2 {
    text-align: center;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.card:hover {
    background-color: #9b193cc4;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}