.detail-container {
    margin-top: 3em;
    display: flex;
    justify-content: center
}

.detail {
    display: flex;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    width: max-content;
    padding: 10px;
}

.poke-details {
    text-align: center;
    border-radius: 20px;
    color: black;
    min-height: 23em;
    width: max-content;
}

.poke-details h2 {
    color: white;
}

.poke-details .detail-image img {
    display: block;
    width: 250px;
    height: 300px;
    margin: auto;
}

.detail-type-icon img {
    width: 2em;
    height: 2em;
}

.poke-stats {
    border-radius: 20px;
    color: rgb(255, 255, 255);
    min-height: 23em;
    width: max-content;
}

.poke-stats h2 {
    margin-left: 30px;
}

.poke-stats .poke-stat {
    display: flex;
}

.poke-stats .poke-stat p {
    margin-left: 30px;
    font-size: 1em;
}